@import 'reset.css';
:root {
	font-size: 12px;
	font-family: sans-serif;
	font-weight: lighter;
}

body {
	padding: 2rem;
}

canvas {
	display: block;
	background-color: #f0f0f0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

header {
	margin-bottom: 6rem;
	h1 {
		margin-bottom: 1rem;
	}
	nav {
	}
}

.field-list {
	display: flex;
	flex-wrap: wrap;
}

.field-list-item {
	white-space: nowrap;
	line-height: 1.5rem;
	&:not(:last-child)::after {
		content: '/';
		margin: 0 1rem;
	}
}

.work-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: -1rem;
	&::after {
		content: '';
		flex: 1 1 0;
	}
}

.work-list-item {
	flex: 0 0 20rem;
	padding: 1rem;
	margin-bottom: 6rem;

	img, canvas {
		width: 100%;
		margin-bottom: 2rem;
		border-radius: 0.25rem;
	}
}

.work-info {
	--line-height: 1.75rem;
	line-height: var(--line-height);
	.name {
		font-size: 1.5em;
	}
	.name-en {
		margin-bottom: var(--line-height);
	}
	.title {

	}
	.genre {
		font-size: 0.8rem;
		margin-bottom: var(--line-height);
	}
	.field {
		font-size: 0.8rem;
	}
	.description-container {
		&::before, &::after {
			content: '';
			display: block;
			margin-left: 0.5rem;
			font-size: 1rem;
			height: 1px;
			width: 2rem;
			background-color: #000;
			margin-top: calc((var(--line-height) / 2) - (1px / 2));
			margin-bottom: calc((var(--line-height) / 2) - (1px / 2));
		}
	}
	.detail-container {
		font-size: 0.8rem;
	}

}

.work-details {
	max-width: 60rem;
	.work-info {
		width: 20rem;
		margin-bottom: 4rem;
	}
	.image-container {
		display: flex;
		flex-direction: column;
		img, canvas {
			margin-bottom: 1rem;
			width: 100%;
			height: auto;
		}
	}
}